*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: hsl(236, 72%, 79%);
  --heading-font-family: 'Montserrat', sans-serif;
  --body-font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: hsl(234, 14%, 74%);
  width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font-family);
}
#Layer1 {
  margin-left: 825px;
  margin-bottom: -200px;
  margin-top: -90px;
}
#Layer2 {
  margin-right: 450px;
  margin-top: -65px;
}

.price-comparison {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 10px;
  margin: 1rem;
  margin-top: -300px;
  margin-left: 100px;
}

.price-column {
  background-color: white;
  box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
  padding: 2rem;
  width: 280px;
  border-radius: 8px;
}

.price-column.popular {
  position: relative;
  background-color: var(--accent-color);
  box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
  color: white;
  margin-top: -1.5rem;
  padding-top: 3.5rem;
  margin-bottom: -1.5rem;
  padding-bottom: 3.5rem;
}

.price-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

.price {
  font-size: 15px;
  display: flex;
}

.dollar-sign {
  font-size: 1.5rem;
  margin-top: 0.9rem;
  margin-left: 40px;
}
.money {
  font-size: 3rem;
  margin-top: 0.07rem;
  margin-right: 40px;
}

.plan-name {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 0.5rem;
  margin-bottom: 20px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.divider.price-column.popular {
  background-color: rgba(0, 0, 0, 0.2);
}

.price-column.popular .divider {
  background-color: white;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.btn {
  border: none;
  background-color: var(--accent-color);
  color: white;
  width: 100%;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-family: var(--heading-font-family);
  font-weight: 700;
  border-radius: 4px;
  margin-top: 1rem;
  transition: 100ms;
  transform: scale(1);
}

.price-column.popular .btn {
  background-color: white;
  color: var(--accent-color);
}

.bta:hover,
.bta:focus {
  transform: scale(1.1);
}

.card {
  background-color: #f7f7ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 4000px;
  height: 700px;
  margin-left: 350px;
}
.heading {
  font-size: 1.5rem;
  font-family: var(--heading-font-family);
  margin-top: 60px;
  margin-left: 530px;
}
